@font-face {
    font-family: kabel;
    src: url(../../assets/Kabel_Regular/Kabel_Regular.ttf) format("truetype");
}

.player-main-field{
    height: auto;
    display: grid;
    width: 480px;
    /* height: 280px; */
    font-family: 'kabel';
    border-radius: 10px;
    margin: 10px;
    border: 3px solid #d62643;
    background-color: #ffffff;
    /* grid-template-columns: 80px 50px 1fr 50px 10px; */
    grid-template-rows: 80px 1fr 1fr;
}

.player-info-div{
    display: grid;
    grid-template-columns: 20px 100px 1fr 80px 20px;
    grid-template-rows: 20px 1fr 20px;
    grid-row: 1/2;
}

.player-name-div, .player-money-div{
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 2px solid rgb(43, 43, 43);
    color: rgb(43, 43, 43);
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.divider{
    background-color: #d62643;
    grid-column: 2/3;
    grid-row: 3/4;
}

.player-name-div{
    grid-column: 2/3;
    background-color: #43c4f7;
}

.player-money-div{
    grid-column: 4/5;
    background-color: #7b9a6d;
}

.player-hand-cards, .player-open-cards{
    display: grid;
    grid-template-columns: 20px 1fr 40px;
    grid-template-rows: 2px 1fr 2px 5px;
}

 .player-open-cards{
    grid-row: 2/3; 
}

.player-hand-cards{
    grid-row: 3/4; 
}

.sign{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    font-weight: 700;
    grid-column: 3/4;
    grid-row: 2/3;
    /* border-left: 2px solid #d62643; */
    /* border-top: 2px solid #d62643;
    border-bottom: 2px solid #d62643; */
}

.sign span{
    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.cards-container{
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
    /* max-height: 100%;
    overflow-y: */
}



.card-div{
    height: 40px;
    width: 100px;
    border: 1px solid black;
    border-radius: 5px;
}

.card-div:hover{
    cursor: pointer;
    border: 1.5px solid #d62643;
    filter: brightness(0.8);
}


.card-div .card-name-div{
    height: 100%;
    font-weight: 700;
    font-family: 'kabel', 'Ubuntu';
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: 'Ka'; */
}


.yellow{
    background-color: yellow;
    color: black;
}

.red{
    background-color: red;
    color: white;
}

.blue{
    background-color: rgb(0, 0, 209);
    color: white;
}

.station{
    background-color: black;
    color: white;
}

.brown{
    background-color: rgb(128, 42, 42);
    color: white;
}

.light-blue{
    background-color: lightblue;
    color: black;
}

.pink{
    background-color: rgb(226, 9, 143);
    color: white;
}

.orange{
    background-color: rgb(233, 125, 24);
    color: white;
}

.green{
    background-color: rgb(13, 163, 13);
    color: white;
}

.community{
    background-color: rgb(245, 193, 147);
    color: white;
}

.pass-turn-button{
    height: 40px;
    /* width: 80px; */
    outline: 0;
    border: none;
    background-color: #d62643;
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 700;

}

.info-span{
    height: 40px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selector{
    height: 30px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}
