@font-face {
    font-family: kabel;
    src: url(../../assets/Kabel_Regular/Kabel_Regular.ttf) format("truetype");
}

.player-main-field{
    height: auto;
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: brown;
    font-family: 'kabel';
    border-radius: 10px;
}

 .player-open-cards{
    margin-bottom: 20px;
    display: grid;
    
}

.player-hand-cards, .player-open-cards{
    display: flex;
    flex-direction: row;
}

.card-div{
    height: 160px;
    width: 100px;
    border: 1px solid black;
    border-radius: 5px;
}

.yellow{
    background-color: yellow;
    color: black;
}

.red{
    background-color: red;
    color: white;
}

.blue{
    background-color: rgb(0, 0, 209);
    color: white;
}

.station{
    background-color: black;
    color: white;
}

.brown{
    background-color: rgb(128, 42, 42);
    color: white;
}

.light-blue{
    background-color: lightblue;
    color: black;
}

.pink{
    background-color: rgb(226, 9, 143);
    color: white;
}

.orange{
    background-color: rgb(233, 125, 24);
    color: white;
}

.green{
    background-color: rgb(13, 163, 13);
    color: white;
}

.community{
    background-color: rgb(245, 193, 147);
    color: white;
}
